body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0;
  height: 100vh;
  background: #106473; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #106473, #106473);
  background: -moz-linear-gradient(right, #85929E, #106473);
  background: -o-linear-gradient(right, #85929E, #8DC26F);
  background: linear-gradient(to left, #85929E, #106473);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
    font-family: poppins;
}
